@model IEnumerable<Blog.Models.Entities.Post>

@{
	ViewData["Title"] = "Posts";
}

<div class="text-center">
	<h1 class="display-4">Posts</h1>
	@foreach(var post in Model)
	{
		@if(post.IsPublic)
		{
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">@post.Title</h5>
						<small>@DateOnly.FromDateTime(@post.CreatedAt)</small>
					</div>
					<p class="mb-1">@post.Content</p>
					<small>@post.Category.Name</small>
				</a>
			</div>
			<br />
		}
	}
</div>